// Define variables for your color scheme

// For example:
$mulberry: #B95F89;
$capri: #2EC0F9;
$frenchskyblue: #67AAF9;
$babyblueeyes: #9BBDF9;
$beaublue: #c4e0f9;
$gray: #343d4c;
$light-gray: #d2e6f7;
