.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  background-color: #F5F8FC;
  box-shadow: 0 0 15px #9BBDF9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  position: relative;
  border-radius: 15px 50px 30px;
}

.card-product img {
  height: 100%;
  height: 150px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.fav-list-group-item {
  margin-left: 35px;
  list-style: none;
}

.delete-section {
  margin-right: 20px;
}

.set-max-width-location {
  max-width: 100px;
  position: absolute;
  height: 100px;
  left: 100px;
}

.add-description-margin {
  margin-left: 150px;
}

.delete-fav-btn {
  appearance: button;
  background-color: #119D9D;
  border: solid #1BD1CC;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 20px 20px 15px 20px;
  outline: none;
  overflow: visible;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90%;
}

.delete-section a {
  appearance: button;
  background-color: #119D9D;
  border: solid #1BD1CC;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 20px 20px 15px 20px;
  outline: none;
  overflow: visible;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90%;
}
