// Specific CSS for your home-page
.banner-homepage {
  background-image: url('Banner-no-text');
  height: 700px;
  background-size: cover;
  position: center;
  background-position: center;
  min-width: 100%;
  display: flex;
  align-items: center;
}

.title {
  margin-left: 100px;
  color: #5E6771;
  position: center;
}

.title-navbar {
  margin: 0px;
  color: #222934;
  margin-left: 119px;
}

.title h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 0px;
  color: #5E6771;
}

.title p {
  font-size: 30px;
  margin: 0px;
  color: #222934;
}

.title a {
  margin-top: 25px;
  color: #222934;
}

.title form {
  margin-top: 25px;
  color: #222934;
}

.home-row {
  margin: 16px;
  color: #222934;
}


.card-img-top {
  text-decoration: none;
  height: 300px;
  width: 300px;
  object-fit: cover;
  color: #222934;
  padding: 0;
}


.landing-page-card {
  width: 280px;
  border-radius: 10px;
  color: #222934;
}

.landing-page-card:hover {
  transform: scale(1.05);
  transition: all 1s ease;
}

.card-body {
  color: #222934;
  text-decoration: none;
}

.landing-page-card .card-body {
  height: 138px;
}

.banner-homepage .btn {
  margin-right: 20px;
}

.banner-homepage {
  margin-top: -5px;
}

.search-bar-btns {
  border: none;
  color: black;
  background-color: #1BD1CC;
  border-radius: 30px;
  opacity: 0.5;
  padding: 15px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  * {
    margin-top: 0 !important;
  }
}

.browse-all-pets{
  width: 400px;
}

.search-btn {
  border: none;
  background: transparent;
  color: black;
  padding: 20;
  border-color: #6A85B3;
  margin-right: 15px;
  // border-left: 1px solid;

}

.search-btn input {
    border-right: 1px solid;
}

.search-btn:hover {
  opacity: 1;
  color: #FFF;
}

.browse-btn:hover {
  opacity: 1;
  color: #FFF;
}

.browse-btn {
  margin: 0;
  margin-left: 15px;
  color: black;
  text-decoration: none;
  // border-left: 1px solid;
}

body {
  background-color: #E9F3FC !important;
}

h2, .h2 {
  margin-bottom: 2rem;
}
