.main-show-details {
  display: flex;
  max-width: 1250px;
  margin: auto;
  flex-wrap: wrap;
}

.pet-details {
  background-color: #DDE7F9;
  margin: 20px;
  height: 650px;
  border-radius: 30px;
  padding: 20px;
  text-decoration: none;
  background-color: #e0e9f9;
  flex-direction: row;
  overflow-y: scroll;
  // flex: 2 2 auto;
  align-items: stretch;
  box-shadow: 1px 1px 3px #a7b4cb;
  width: calc(60% - 40px);

}

.pet-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.adoption-details {
  background-color: #DDE7F9;
  margin: 20px;
  height: 650px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 30px;
  overflow-y: scroll;
  width: calc(40% - 40px);
  box-shadow: 1px 1px 3px #a7b4cb;
  flex-direction: column;
}

.adoption-details-map {
  background-color: #DDE7F9;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  padding: 30px;
  width: calc(40% - 40px);
  height: 500px;
  overflow-y: scroll;
  flex: 1 1 0;
  align-items: stretch;
}

.pet-show-name-header {
  font-family: "Nanum Pen Script", "Helvetica", "sans-serif";
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  color: #5E6771;
  font-size: 35px;
}

.pet-infos {
  margin-left: 20px;
  margin-top: 20px;
  line-height: 0.5;
}

.pet-infos p {
  padding: 0px;
  max-width: 95ch;
  line-height: 1.5rem;
}

.new_application {
  margin-left: 20px;
  margin-right: 20px;
}


/* CSS for buttons*/
.button-2 {
  appearance: button;
  margin: auto;
  background-color: #9BBDF9;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 2px 20px 20px 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
}

.button-2:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-2:main,
.button-2:focus {
  user-select: auto;
}

.button-2:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-2:disabled {
  cursor: auto;
}



.button-1 {
  appearance: button;
  background-color: #67AAF9 !important;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 20px 20px 15px 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.button-1:after {
  background-clip: padding-box;
  background-color: #9DE18C !important;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-1:main,
.button-1:focus {
  user-select: auto;
}


.button-1:disabled {
  cursor: auto;
}

.price-button {
  button {
    appearance: button;
    // background-color: #67AAF9;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 20px 20px 15px 20px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 90%;
    background-color: transparent;
  }

  button:after {
    background-clip: padding-box;
    background-color: #119D9D;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .button-1:main,
  .button-1:focus {
    user-select: auto;
  }


  .button-1:disabled {
    cursor: auto;
  }

}

.button-1-hover {
  width: unset;

  &:hover {
    color: #FFF !important;
    border-color: #67AAF9 !important;
  }
}


.price-button {
  span {
    position: relative;
  }
  span:after {
    background-color: #9bbdf9;
    border-radius: 1px;
    content: "";
    display: block;
    height: 24px;
    position: absolute;
    top: 16px;
    transform: rotate(-315deg);
    width: 24px;
    left: 14px;
    top:  2px;
    z-index: 1;
  }
}

.apply-button {
  margin-top: auto;
  align-self: center;
}

.apply-btn-map {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}


.favourite-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 890px;
  bottom: 712px;
  font-size: 25px;
}

.card-img-top {
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}


.align-needs-garden-elements {
  display: flex;

}

.break {
  flex-basis: 100%;
  height: 0;
}


.adoption-form {
  box-shadow: 1px 1px 3px #a7b4cb;
  width: calc(60% - 40px);
}


.price-button span:after {
  background-color: #119D9D;
}

.align-check {
  margin-left: 6px;
}
