<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/loisgraham"><i class="fab fa-github"></i></a>
    <a href="https://github.com/HFennelly"><i class="fab fa-github"></i></a>
    <a href="https://github.com/BlakeMack"><i class="fab fa-github"></i></a>
    <a href="https://github.com/Katie-Kat94"><i class="fab fa-github"></i></a>

  </div>
  <div class="footer-copyright">
    4Doption © 2022
  </div>
  <div class="footer-logo">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-no-text.png", class: "logo", style: "width: 35px"%>
    <% end %>
  </div>
</div>
