
// pets index page card

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 430px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  border-radius: 5%;
  box-shadow: 2px 2px 20px #9BBDF9;
  background-color: #e0e9f9;
  opacity: 0.9;
}

.card__image {
  border-radius: 15px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: #c4e0f9;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: #c4e0f9;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: #c4e0f9;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: 'Quicksand', sans-serif;
  font-size: .8em;
  color: #343d4c;
}

.card__status {
  font-size: .8em;
  color: #343d4c;
}

.card-text {
  color: #343d4c;
  overflow: hidden;
  padding: 1px;
  margin-left: 20px;
}

.card-h4 {
  color: #343d4c;
  overflow: hidden;
  padding: 1px;
  margin-left: 20px;
}

.card-text-bottom {
  color: #343d4c;
  overflow: hidden;
  padding: 1px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.card-details-header {
  margin-left: 20px;
  padding: 1px;
  color: #343d4c;
  font-weight: bold;
  overflow: hidden;
}

.card__header-text {
  color: #343d4c;
}




// CSS for homepage carousel cards

.card-img, .card-img-bottom {
  // position: relative;
  // height: 150px;
  // width: 150px;
  // height: 100%;
  // width: 100%;
  height: 300px;
  border-radius: 0 !important;
  object-fit: cover;


}


// .card-img {
//   position: relative;
//   height: 150px;
//   width: 150px;
//   height: 100%;
//   width: 100%;
//   object-fit: cover;

// }

.app-card {
  position: relative;
  display: block;
  height: 550px;
  width: 280px;
  border-radius: calc(var(--curve) * 1px);
  overflow: auto;
  text-decoration: none;
  border-radius: 5%;
  box-shadow: 1px 1px 10px #c2d7d7;
  background-color: #DDE7F9;
  opacity: 0.9;
}

.app-card-img-top {
  text-decoration: none;
  height: 300px;
  width: 300px;
  object-fit: cover;
  color: #222934;
  padding: 0;
}

.app-card-body {
  color: #222934;
  text-decoration: none;
}

.application-status {
  color: #343d4c;
}

.app-icon {
  width: 60px;
  position: absolute;
  left: 94px;
  bottom: 200px;
  margin: 20px;
}

.app-card-text {
  color: #343d4c;
  overflow: hidden;
  padding: 1px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
}


.my-pet-card {
  position: relative;
  display: block;
  height: 500px;
  border-radius: calc(var(--curve) * 1px);
  overflow: auto;
  text-decoration: none;
  border-radius: 5%;
  box-shadow: 1px 1px 10px #c2d7d7;
  background-color: #DDE7F9;
  opacity: 0.9;
}

.my-pet-card-img-top {
  text-decoration: none;
  height: 300px;
  width: 300px;
  object-fit: cover;
  color: #222934;
  padding: 0;
}

.my-pet-btn-ghost {
  color: white !important;
  background-color: #119D9D;
  border: 2px solid #1BD1CC;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.9;
  transition: 0.3s ease;
  margin: 4px;
  max-width: 10px;
  font-size: smaller;
}

.my-pet-btn-ghost:hover {
  opacity: 0.8;
  background-color: #1BD1CC;
  color: #343d4c;
}

.my-pet-card-body {
  color: #222934;
  text-decoration: none;
}

.my-pet-card-text {
  color: #343d4c;
  overflow: hidden;
  padding: 1px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 24px;
}

.my-pet-app-icon {
  height: 100px;
  position: absolute;
  left: 95px;
  bottom: 150px;
}

.my-pet-name {
  color: #343d4c;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.favourite-card {
  display: block;
  height: 220px;
  width: 220px;
  border-radius: calc(var(--curve) * 1px);
  overflow: auto;
  text-decoration: none;
  border-radius: 5%;
  box-shadow: 1px 1px 10px #c2d7d7;
  background-color: #DDE7F9;
  opacity: 0.9;
  margin: 5px;
  position: relative;
}

.favourite-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.favourite-card:hover {
  transform: scale(1.05);
  transition: all 1s ease;
}

.favourite-btn-ghost {
  color: white !important;
  background-color: #119D9D;
  border: 2px solid #1BD1CC;
  padding: 4px 14px;
  border-radius: 50px;
  opacity: 0.85;
  transition: 0.3s ease;
  margin: 4px;
  width: 200px;
  font-size: small;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.favourite-btn-ghost:hover {
  opacity: 0.8;
  background-color: #1BD1CC;
  color: #343d4c;
}


//for Application index page below:

.app-page-card {
  position: relative;
  display: block;
  height: 550px;
  border-radius: calc(var(--curve) * 1px);
  overflow: auto;
  text-decoration: none;
  border-radius: 5%;
  box-shadow: 1px 1px 10px #c2d7d7;
  background-color: #DDE7F9;
  opacity: 0.9;
}

.app-page-card-img-top {
  text-decoration: none;
  height: 300px;
  width: 300px;
  object-fit: cover;
  color: #222934;
  padding: 0;
}

.app-page-card-body {
  color: #222934;
  text-decoration: none;
}

.application-page-status {
  color: #343d4c;
}

.app-page-icon {
  width: 60px;
  position: absolute;
  left: 93px;
  bottom: 150px;
  margin: 20px;
}

.app-page-card-text {
  color: #343d4c;
  overflow: hidden;
  padding: 1px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 24px;
}

.user-application-details{
  background-color: #F5F8FC;
  box-shadow: 0 0 15px #9BBDF9 !important;
  margin: 20px;
  width: 1000px;
  height: 750px;
  border-radius: 30px;
  padding: 20px;
  text-decoration: none;
  overflow-y: scroll;
  flex: 2 2 auto;
  align-items: stretch;
  flex-basis: auto;

}

.app-btn-ghost {
  color: white !important;
  background-color: #119D9D;
  border: 2px solid #1BD1CC;
  padding: 8px 24px;
  border-radius: 50px;
  transition: 0.3s ease;
  margin: 10px;
  font-size: smaller;
}

.app-btn-ghost:hover {
  opacity: 0.8;
  background-color: #1BD1CC;
  color: #343d4c;
}

.app-main-show-details {
  max-width: 1250px;
  margin: auto;
  flex-wrap: wrap;
}
