// pets index page card

.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
}

.index-card {
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
