// .container {
//   background-color: #c4e0f9;
//   border-radius: 15px;
//   width: 800px;
//   color: #343d4c;
// }

.main-container {
  margin-bottom: 150px;
}


.sign-up-container {
  background-color: #e9f3fc;
  width: 100%;
  border-radius: 15px;
  margin: 10px;
  padding: 0px;
}

.user-details {
  background-color: #DDE7F9;
  margin: 20px;
  width: 400px;
  height: 750px;
  border-radius: 30px;
  padding: 20px;
  text-decoration: none;
  background-color: #e0e9f9;
  overflow-y: scroll;
  flex: 2 2 auto;
  align-items: stretch;
  flex-basis: auto;
  // box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

.user-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
