// .container {
//   background-color: #c4e0f9;
//   border-radius: 15px;
//   width: 800px;
//   color: #343d4c;
// }

.main-container {
  margin-bottom: 150px;
}


.sign-up-container {
  background-color: #e9f3fc;
  width: 100%;
  border-radius: 15px;
  margin: 10px;
  padding: 0px;
}
