.filter {
  select {
  border: none;
  background-color: white;
  border-radius: 16px;
  height: 42px;
  box-shadow: 2px 2px 4px #9BBDF9;
  min-width: 140px;
  }
}

.filter {
  select, input {
  background-color: none;
  border: none;
  background-color: white;
  border-radius: 16px;
  height: 42px;
  box-shadow: 1px 1px 3px #9BBDF9;
  min-width: 140px;
  padding-left: 6px;
  color: #414F52;
  }
}
.form {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.filter {
  input {
    margin-right: 0 !important;
  }
}
